nav {
    /* background-color: #6B78A4; */
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      top:0;
     left:0; 
    width:100%;
    overflow: hidden; 
     padding: 10px 0; 
    z-index: 1;
    margin-bottom: 150px;
  }
    
  
    nav ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    
    nav li {
      margin: 0 15px;
    }
    
    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
    }
    
    nav li a:hover {
      background-color: #ddd;
      color: black;
    }




    * {
      margin: 0;
      padding: 0;
    }


body {
    font-family: Arial, sans-serif;
    /* margin: 20px 20px 0;  */
     /* padding-top: 0px;   */
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 40px;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-description {
    flex: 2;
    padding-left: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    color: #FF5722; 
}
.ratings-reviews {
    font-size: 14px;
    margin-top: 10px;
}

.offers {
    margin-top: 20px;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.buy-now-button,
.add-to-cart-button {
    padding: 10px;
    background-color: #007BFF; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    margin-top: 10px; 
    cursor: pointer;
}

.buy-now-button:hover,
.add-to-cart-button:hover {
    background-color: #0056b3; 
}
