/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

section {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.faq-item {
    margin-bottom: 20px;
}

form label, form textarea, form input[type="text"], form input[type="email"], form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
