
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2, h3 {
    color: #333;
}

/* Navigation styles */
nav {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}
    
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
    
nav li {
    margin: 0 15px;
}
    
nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
}

nav li a:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #6B78A4;
    border-radius: 5px;
}

/* Reviews page styles */
main.reviews-container {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.review-form h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.review-form label,
.review-form textarea,
.review-form input[type="number"] {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.review-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

.review-form button {
    background-color: #6B78A4;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

.review-form button:hover {
    background-color: #333;
}

.reviews-list .review {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.review h3 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}

.rating {
    font-weight: bold;
    color: #6B78A4;
}
/* Add your CSS styles here as before */

/* Example styling for the star rating */
.rating-input {
    display: flex;
    margin-bottom: 10px;
}

.review-form label[for="name"] {
    margin-bottom: 10px; /* Adjust the margin as needed */
}
.rating-input input[type="radio"] {
    display: none;
}

.rating-input label {
    cursor: pointer;
    padding: 5px;
}

.rating-input label::before {
    content: "\2605"; /* Unicode star character */
    font-size: 24px;
    padding: 5px;
    color: #ccc;
}
.review-form .rating-input label[for="rating"] {
    margin-bottom: 60px; /* Adjust the margin as needed */
}


.rating-input input[type="radio"]:checked + label::before {
    color: #fddb27; /* Change the color for selected stars */
}
